.articls{
    display: flex;
    align-items: center;
}
.articletitle , .articleinput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-right: 8em;
    margin-bottom: 2em;
}
.articleinput>input{
    width: 5em;
    /* background-color: #90E0EF; */
    border: 0px;
}
.quantite{
    background-color: #90E0EF;
}
.disabled{
    cursor: not-allowed;
}
.articleinput>select{
    width: 5em;
    height: 2em;
    background-color: #90E0EF;
    border: 0px;
}

.delete-button{
    /* position: relative; */
    position: absolute;
    left: 85%;
    height: 1.5em;
    margin-top: -0.2em;
    font-size: 1.5em;
    color: red;
    background-color: #00B4D8;
    border: 0px;
}